<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - 人力资源服务系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/themes/base/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Library/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Library/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Library/searchMeme/css/searchMeme.css" type="text/css" />
    @Styles.Render(string.Format("~/Content/themes/{0}/site.css", "base"))
    <!-- Custom styles for this template -->
    <link href="~/Content/themes/base/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/ie10-viewport-bug-workaround.css" rel="stylesheet" type="text/css" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    @Scripts.Render("~/JS/ie-emulation-modes-warning.js")
    @Scripts.Render("~/bundles/modernizr")

    <!-- common js -->
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/JS/bootstrap.min.js")
    @Scripts.Render("~/Library/easyui/jquery.easyui.min.js")
    @Scripts.Render("~/Library/easyui/locale/easyui-lang-zh_CN.js")
    <!-- ua js -->
    @Scripts.Render("~/JS/json2.js")
    @Scripts.Render("~/JS/share.js")
    @Scripts.Render("~/JS/holder.min.js")
    @Scripts.Render("~/JS/ie10-viewport-bug-workaround.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- 部分视图，指向菜单列表 -->
    @Html.Action("Index", "Menu")

    <!-- content -->
    @RenderBody()
    <script>
        $(document).ready(function () {
            // windowsResize();
            // 下拉菜单
            $('.dropdown-toggle').dropdown();
            // 高度自适应
            var div = $('.container-layout');
            if (div.length > 0) {
                var top = div.position().top;
                if (top == 0)
                    top = 50;
                else
                    top = top + 10;
                var height = $(window).height() - top;
                div.height(height);
            }
            if (typeof (init) == 'undefined') {
            }
            else {
                init(document);
            }
        });
    </script>
</body>
</html>
